<div class="container text-center">
  <h1 class="mb-5">Stupid Coaching</h1>

  <div class="cards d-flex flex-column align-items-center ">

  <div class="card mb-3 w-50">
  <div class="card-header">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @answer%></p>
      <footer class="blockquote-footer">You<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

  <div class="card w-50 mb-5">
  <div class="card-header">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @coach%></p>
      <footer class="blockquote-footer">Coach<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

</div>

<a href="http://localhost:3000/ask">Ask a new question</a>


</div>
