<div class= "container">

<h1 class= "text-center mb-5">Stupid Coaching</h1>


<form action="/answer" method="get" class="text-center">
  <label for="query">Ask your coach anything</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

</div>
